<section class="products">

  <div class="panel panel-default">
    <div class="panel-body">

      <div class="col-md-12 panel">
        <button ng-click="addDefaultProduct()" class="btn btn-default pull-right">addProduct</button>
        <a class="btn btn-success pull-right" ui-sref="main.products.new">Publish</a>
      </div>

      <div class="col-md-3">
        <h3>Categories</h3>
        <ul
          class="nav nav-pills nav-stacked"
          ng-show="categories.length"
          ng-repeat="categ in categories">
          <li role="presentation" ng-click="(categ.filter !== currentCateg.filter) ? fetchPage(categ) : ''" ng-class="{active: categ.filter === currentCateg.filter}">
            <a href="">{{categ.name}}</a>
          </li>
        </ul>

        <!-- <div ng-show="categories.length" class="list-group">
          <button
            ng-repeat="categ in categories"
            class="list-group-item bg-info"
            ng-click="filterProducts(categ)">
            <div>{{categ}}</div>
          </button>
        </div> -->
      </div>

      <div class="col-md-9">
        <pagination
          ng-model="page"
          items-per-page="pageSize"
          total-items="totalProducts"
          max-size="10"
          previous-text="Prev"
          next-text="Next"
        ></pagination>

        <div ng-show="products.length" class="list-group">
          <a ui-sref="main.products.info({productId: product._id})" ng-repeat="product in products" class="list-group-item clearfix">
            <div>{{product.title}}</div>
            <div>{{product.description}}</div>
            <div>{{product.created | date:'medium'}}</div>
          </a>
        </div>

        <pagination
          ng-model="page"
          items-per-page="pageSize"
          total-items="totalProducts"
          max-size="10"
          previous-text="Prev"
          next-text="Next"
        ></pagination>
      </div>
    </div>

  </div>

</section>
