<!DOCTYPE html>
<html lang="en" ng-app="elementBoxApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="css/bootstrap-styles.css"/>
  <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>

<body ng-controller="AppController">
  <div ng-include="'header/header.html'" class="container"></div>
  <!-- Application content: -->
  <!-- <div class="container view-animate" ui-view=""></div> -->
  <div class="container" ui-view=""></div>
  <div ng-include="'footer/footer.html'" class="container"></div>

  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="js/ui-bootstrap-tpls.js"></script>

  <% modules.forEach(function(module){ %>
  <script type="text/javascript" src="js/modules/<%- module %>.js"></script>
  <% }); %>
  <script type="text/javascript" src="js/common.js"></script>
  <script type="text/javascript" src="js/<%= mainJsName %><%= production ? '.min' : '' %>.js"></script>
</body>
</html>
