<section class="all-items">
  <pagination
    ng-model="page"
    items-per-page="pageSize"
    total-items="totalProducts"
    max-size="10"
    previous-text="Prev"
    next-text="Next">
  </pagination>

  <div ng-show="products.length" class="list-group">
    <product-item ng-repeat="product in products" product="product" class="list-group-item" remove="true" fetch-method="fetchPage()"></product-item>
  </div>

  <pagination
    ng-model="page"
    items-per-page="pageSize"
    total-items="totalProducts"
    max-size="10"
    previous-text="Prev"
    next-text="Next">
  </pagination>
</section>
