.footer.panel {
  background-color: @gray3;
  margin-top: 30px;
  color: #FFF;

  .footer-icon-container {
    display: block;
    height: 36px;
    width: 36px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    color: @gray4;

    &:hover {
      color: #FFF;
    }

    .glyphicon {
      font-size: 25px;
      margin: 3px;
    }
  }

  .footer-icon.icon-facebook,
  .footer-icon.icon-vk,
  .footer-icon.icon-pinterest {
    top: 7px;
    left: 0;
  }

  .footer__menu {
    .footer__menu__item {
      color: @gray7;
      &:hover {
        color: @gray9;
      }
    }
  }

  .footer-divider {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }

  .copyright {
    color: @gray9;
  }
}
