footer {
  background-color: #2b2d2e;
  margin-top: 30px;

  donut-stats {
    text-align: left;
    display: block;

    .clearfix;
  }

  .footer-icon-container {
    display: block;
    height: 36px;
    width: 36px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
  }

  .footer-icon.icon-facebook,
  .footer-icon.icon-vk,
  .footer-icon.icon-pinterest {
    top: 7px;
    left: 0;
  }

}
