<pagination
  ng-model="page"
  items-per-page="pageSize"
  total-items="totalProducts"
  max-size="10"
  previous-text="⇦"
  next-text="⇨">
</pagination>

<!-- <div ng-show="products.length" class="list-group">
  <a ui-sref="main.products.info({productId: product._id})" ng-repeat="product in products" class="list-group-item clearfix">
    <div>{{product.title}}</div>
    <div>{{product.description}}</div>
    <div>{{product.created | date:'medium'}}</div>
  </a>
</div> -->

<div class="list-group">
  <loading class="list-group-item" ng-show="isLoading" balls-count="4"></loading>
  <h4 class="empty-categ list-group-item" ng-show="!products.length && !isLoading">{{ 'EMPTY_LIST' | translate }}</h4>
  <product-item
    ng-repeat="product in products"
    product="product"
    class="list-group-item"
    remove="true"
    edit="true"
    fetch-method="fetchPage"
    post-remove-method="onRemoveProduct">
  </product-item>
</div>

<pagination
  ng-model="page"
  items-per-page="pageSize"
  total-items="totalProducts"
  max-size="10"
  previous-text="⇦"
  next-text="⇨">
</pagination>
