<section class="userlist">
  <div class="list-group col-md-8"> <!-- list-group -->
    <pagination
      ng-model="page"
      items-per-page="pageSize"
      total-items="totalUsers"
      ng-change="fetchPage()"
      max-size="10"
      previous-text="⇦"
      next-text="⇨"
    ></pagination>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
      <div class="input-group user-search">
        <input type="text"
          class="form-control"
          placeholder="{{ 'MYADMIN.SEARCH_FIELDS' | translate }}"
          ng-model="searchField">
        <span class="input-group-btn">
          <button class="btn btn-purple"
            type="button"
            ng-click="fetchPage()">
              {{ 'MYADMIN.SEARCH' | translate }}
          </button>
        </span>
      </div><!-- /input-group -->
    </div>

    <div ng-repeat="user in users"
      class="list-group-item clearfix"
      ng-class="{'list-group-item-danger': !user.active}">

      <div class="col-md-3 text-center clearfix">
        <a ui-sref="main.userdetails({id: user._id})" class="media-photo media-round text-center user-link">
          <img alt="" class="lazy" src="{{user.image.url}}" width="68" height="68">
        </a>
        <div class="name">
          <a ui-sref="main.userdetails({id: user._id})" class="text-muted user-link">{{user.firstName}}</a>
        </div>
      </div>

      <div class="col-md-9 clearfix">
        <strong class="">{{user.firstName}} {{user.lastName}} ({{user.displayName}})</strong>

        <div class="text-muted">{{user.email}}</div>
        <div class="label label-info" ng-repeat="(key, role) in user.roles">
            {{role}}
        </div>

        <div ng-show="user.active"
          class="user__remove btn btn-default btn-sm"
          ng-click="deactivateUser(user, $index)"
          popover-placement="bottom"
          popover-trigger="mouseenter"
          popover="{{ 'MYADMIN.DEACTIVATE' | translate }}">
            <span class="glyphicon glyphicon-remove text-danger"></span>
        </div>

        <div ng-show="!user.active"
          class="user__reactive btn btn-default btn-sm"
          ng-click="activateUser(user, $index)"
          popover-placement="bottom"
          popover-trigger="mouseenter"
          popover="{{ 'MYADMIN.ACTIVATE' | translate }}">
            <span class="glyphicon glyphicon-ok-sign text-success"></span>
        </div>
      </div>

    </div>

    <pagination
      ng-model="page"
      items-per-page="pageSize"
      total-items="totalUsers"
      ng-change="fetchPage()"
      max-size="10"
      previous-text="⇦"
      next-text="⇨"
    ></pagination>

  </div>
</section>
