<header ng-controller="HeaderCtrl">
  <div class="page-header">
    <h1>{{title}}</h1>

    <div class="pull-right">
      <span ng-if="!currentUser.firstName">
        <a ui-sref="main.signin" class="btn btn-sm btn-default">SignIn</a>
        <a ui-sref="main.signup" class="btn btn-sm btn-default">SignUp</a>
      </span>
      <span ng-show="currentUser.firstName">Welcome, {{currentUser.firstName}}</span>
      <span ng-show="currentUser.roles.indexOf(userRoles.admin) >= 0"> Admin </span>
      <span ng-show="currentUser.roles.indexOf(userRoles.editor) >= 0"> Editor </span>
      <button ng-show="currentUser.firstName" class="btn btn-link btn-sm" ng-click="signout()">SignOut</button>
    </div>

    <div class="text-center">
      <button
        type="button"
        class="btn btn-primary"
        ng-show="showLink('main.home')"
        go stateUrl="main.home">
          Home
      </button>
      <button
        type="button"
        class="btn btn-success"
        ng-show="showLink('main.newelement')"
        go stateUrl="main.newelement">
          Add New Element
      </button>
      <!-- <button
        type="button"
        class="btn btn-default"
        ng-show="showLink('main.about')"
        go stateUrl="main.about">
          About
      </button> -->
      <button
        type="button"
        class="btn btn-info"
        ng-show="showLink('main.products')"
        go stateUrl="main.products">
          Products
      </button>
      <button
        type="button"
        class="btn btn-warning"
        ng-show="showLink('main.myadmin', Roles.admin)"
        go stateUrl="main.myadmin">
          My Admin
      </button>
      <button
        type="button"
        class="btn btn-warning"
        ng-show="showLink('main.account', Roles.user) && !showLink('main.account', Roles.admin)"
        go stateUrl="main.account">
          Account
      </button>
    </div>

  </div>
  <!-- <pre>{{subStateName}}</pre> -->
</header>
