<div class="element-info">

  <h2>
    Element Info
    <button
      class="destroy btn btn-sm btn-success"
      ng-click="save()"
      title="Save"
      ng-show="editting">
      <span class="glyphicon glyphicon-floppy-save"></span>
    </button>

    <button
      class="destroy btn btn-sm btn-info"
      ng-click="edit()"
      title="Edit"
      ng-hide="editting">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>

    <button
      class="destroy btn btn-sm btn-warning"
      ng-click="cancelEdition()"
      title="Cancel Edition"
      ng-show="editting">
      <span class="glyphicon glyphicon-share"></span>
    </button>
  </h2>

  <form
    class="form-horizontal"
    role="form">

    <div class="form-group">
      <label class="col-sm-2 control-label">Title</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          placeholder="Title"
          ng-model="element.title"
          ng-show="editting">

        <div
          class="element-attr element-name list-group-item-heading"
          ng-hide="editting">
            {{element.title}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Content</label>
      <div class="col-sm-9">
        <textarea
          class="form-control"
          placeholder="Content"
          ng-model="element.content"
          ng-show="editting">
        </textarea>

        <div
          class="element-attr list-group-item-text"
          ng-hide="editting">
            {{element.content}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Likes</label>
      <div class="col-sm-9">
<!--         <input
          type="text"
          class="form-control"
          placeholder="like"
          ng-model="element.like"
          ng-show="editting">
 -->
        <div class="element-attr list-group-item-text">
            {{element.like}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Don't Likes </label>
      <div class="col-sm-9">
<!--         <input
          type="text"
          class="form-control"
          placeholder="like"
          ng-model="element.like"
          ng-show="editting">
 -->
        <div class="element-attr list-group-item-text">
            {{element.dontLike}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Date</label>
      <div class="col-sm-9">
        <!-- <input
          type="text"
          class="form-control"
          placeholder="Birthday"
          ng-model="element.created"
          ng-show="editting"> -->
        <datepicker
          ng-model="element.created"
          max-date="today"
          show-weeks="true"
          class="datepicker center-block"
          ng-show="editting">
        </datepicker>
        <div
          class="element-attr list-group-item-text"
          ng-hide="editting">
            {{element.created | date:"MM/dd/yyyy"}}
        </div>
      </div>
    </div>

  </form>

</div>
