<!-- Comments: -->
<div class="review-content col-lg-8">
  <h3>Comments <span class="badge comments-count">{{commentsData.totalComments}}</span></h3>
  <div ng-show="comments.length" class="row">
    <div class="col-lg-9 col-offset-3">
      <pagination
        ng-model="commentsData.page"
        items-per-page="commentsData.pageSize"
        total-items="commentsData.totalComments"
        max-size="10"
        previous-text="Prev"
        next-text="Next">
      </pagination>
    </div>
  </div>

  <div class="panel comments-panel">
    <div ng-show="!comments.length" class="no-comments">No comments yet.</div>

    <div ng-show="comments.length" class="comment clearfix"
      ng-repeat="(key, comment) in comments track by $index"
      ng-init="expanded = false;">
        <comment comment="comment" separator="key !== comments.length-1"></comment>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9 row-space-2 add-review">
      <textarea class="form-control" rows="2" ng-model="newComment" maxlength="700" minlength="2" placeholder="Write a comment">{{comment.text}}</textarea>
      <div class="review-foot clearfix">
        <!-- <div class="pull-left">Add a comment</div> -->
        <div class="btn btn-info btn-sm pull-right" ng-disabled="newComment.trim() === ''" ng-click="addComment(newComment); newComment = '';">Add Comment</div>
      </div>
    </div>
  </div>

</div> <!-- Comments. review-content -->
