<div class="panel">
  <div class="page-container-responsive product__heading">

    <div class="clearfix">
      <div class="col-lg-8">
        <div class="">
          <div class="row">

            <div class="col-md-3 text-center">
              <a ui-sref="main.userdetails({id: product.owner._id})" class="media-photo media-round text-center user-link">
                <img alt="{{product.owner.firstName}}" class="lazy" ng-src="{{product.owner.image.url}}" width="68" height="68">
              </a>
              <div class="name">
                <a ui-sref="main.userdetails({id: product.owner._id})" class="text-muted user-link">{{product.owner.displayName || product.owner.firstName}}</a>
              </div>
            </div>

            <div class="col-md-9">
              <h1 itemprop="name" class="text-overflow h3">
                {{product.title}}
              </h1>

              <div class="product-rating col-lg-8">
                <div class="rating rated"
                  ng-class="{'never-rated': product.rating.value == 0}"
                  popover="{{ (( product.rating.value > 0 ? 'PRODUCTS.RATING' : 'PRODUCTS.STILL_NO_RATED') | translate )
                  + (product.rating.value > 0 ? ': ' + (product.rating.value | number: 2) : '') }}"
                  popover-placement="right"
                  popover-animation="true"
                  popover-trigger="mouseenter">
                  <span ng-class="{rated: product.rating.value >= 5}">☆</span>
                  <span ng-class="{rated: product.rating.value >= 4}">☆</span>
                  <span ng-class="{rated: product.rating.value >= 3}">☆</span>
                  <span ng-class="{rated: product.rating.value >= 2}">☆</span>
                  <span ng-class="{rated: product.rating.value >= 1}">☆</span>
                </div>
              </div>

              <div class="row row-condensed text-muted text-center">
                <div class="col-sm-3">
                  <i class="icon icon-entire-place"></i>
                </div>
                <div class="col-sm-3">
                  <i class="icon icon-group"></i>
                </div>
                <div class="col-sm-3">
                  <i class="icon icon-rooms"></i>
                </div>
                <div class="col-sm-3">
                  <i class="icon icon-double-bed"></i>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
              <div class="row row-condensed text-muted text-center">
                <div class="col-sm-3">
                  {{ 'VIEWS' | translate }}
                  <span class="badge">{{product.views}}</span>
                </div>
                <div class="col-sm-3">Attr 2</div>
                <div class="col-sm-3">Attr 3</div>
                <div class="col-sm-3">Attr 4</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="h3 product__price" ng-show="product.price != 0">{{ product.price | currency:'$':0 }}</div>
        <div class="h3 product__price" ng-show="product.price == 0">{{ 'PRODUCTS.NO_PRICE' | translate }}</div>

        <div class="row">
          <div
            ng-hide="hasWishListedProduct()"
            class="btn btn-link pull-right add-to-wishlist"
            popover="{{ 'PRODUCTS.ADD_PRODUCT_TO_WISH_LIST' | translate }}" popover-trigger="mouseenter" popover-placement="bottom" Popover-animation="false"
            ng-click="addToWishList()">
              <span class="glyphicon glyphicon-heart"></span>
              {{ 'PRODUCTS.ADD_TO_WISH_LIST' | translate }}
          </div>

          <div ng-show="hasWishListedProduct()" class="pull-right on-wishlist">
            <!-- <span popover="Product is on Wish List" popover-trigger="mouseenter" popover-placement="top" > -->
            <span class="glyphicon glyphicon-ok-sign"></span>
            {{ 'PRODUCTS.ON_MY_WISH_LIST' | translate }}!
            <!-- </span> -->
            <span
              class="btn btn-link remove-from-wishlist"
              popover="{{ 'PRODUCTS.REMOVE_FROM_WISH_LIST' | translate }}" popover-trigger="mouseenter" popover-placement="bottom" Popover-animation="false"
              ng-click="removeFromWishList()">
                <!-- <span class="glyphicon glyphicon-heart-empty"></span> -->
                ({{ 'REMOVE' | translate }})
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
