<div id="summary" class="panel room-section">
  <div class="page-container-responsive">

    <div class="row">
      <div class="col-lg-8">
        <div class="row-space-4 row-space-top-4">
          <div class="row">

            <div class="col-md-3 text-center">
              <a ui-sref="users{id: product.user.ref}" class="media-photo media-round row-space-1 text-center user-link">
                <img alt="{{product.user.firstName}}" class="lazy" src="imgs/user_pic-68x68.png">
              </a>
              <div class="name">
                <a ui-sref="users{id: product.user.ref}" class="text-muted user-link">{{product.user.displayName || product.user.firstName}}</a>
              </div>
            </div>

            <div class="col-md-9">
              <h1 itemprop="name" class="text-overflow h3 row-space-1 text-center-sm" id="listing_name">
                {{product.title}}
              </h1>

              <div class="product-rating col-lg-8">
                <div class="rating rated"
                  ng-class="{'never-rated': product.rating.value == 0}"
                  popover-animation="false" popover="{{product.rating.value > 0 ? ('Rating: ' + (product.rating.value | number: 2)) : 'Still no rated'}}" popover-placement="right" popover-trigger="mouseenter">
                  <span ng-class="{rated: product.rating.value >= 5}">☆</span>
                  <span ng-class="{rated: product.rating.value >= 4}">☆</span>
                  <span ng-class="{rated: product.rating.value >= 3}">☆</span>
                  <span ng-class="{rated: product.rating.value >= 2}">☆</span>
                  <span ng-class="{rated: product.rating.value >= 1}">☆</span>
                </div>
              </div>

              <div class="row row-condensed text-muted text-center">
                <div class="col-sm-3">
                  <i class="icon icon-entire-place icon-size-2"></i>
                </div>
                <div class="col-sm-3">
                  <i class="icon icon-group icon-size-2"></i>
                </div>
                <div class="col-sm-3">
                  <i class="icon icon-rooms icon-size-2"></i>
                </div>
                <div class="col-sm-3">
                  <i class="icon icon-double-bed icon-size-2"></i>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
              <div class="row row-condensed text-muted text-center">
                <div class="col-sm-3">Entire home/apt</div>
                <div class="col-sm-3">2 Guests</div>
                <div class="col-sm-3">1 Bedroom</div>
                <div class="col-sm-3">1 Bed</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="h3 product__price">{{product.price | currency:'$'}}</div>

        <div class="row">
          <div class="col-sm-6">
            <span>Check In</span>
            <!-- <datepicker ng-model="" min-date="" show-weeks="true" class="well well-sm"></datepicker> -->
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="dd-MMM-yyyy" ng-model="contactFromDate" is-open="checkinDPOpened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />

             <!--  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="checkinDPOpened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" /> -->

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-sm-6 row-space-1-sm">
            <span>Check Out</span>
            <!-- <datepicker ng-model="" min-date="" show-weeks="true" class="well well-sm"></datepicker> -->
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="dd-MMM-yyyy" ng-model="contactFromDate" is-open="checkinDPOpened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />

             <!--  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="checkinDPOpened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" /> -->

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <label for="number_of_guests">Guests</label>
          <div class="select select-block">
            <select id="number_of_guests" name="number_of_guests">
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
        </div>

        <div class="row">
          <button class="btn btn-primary pull-left" ng-click="doContact()">Contact</button>

          <div class="btn btn-link pull-right" ng-click="addToWishList()">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Add to Wish List
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
