
.user-details-section {
  .products-container {
    .product {
      .thumbnail {
        padding-top: 14px;
        .caption {
          white-space: nowrap;
        }
        img {
          width: 210px;
          height: 140px;
          background-color: @gray4;
        }
      }
    }
  }

  .verifications {
    .list-unstyled {
      li .glyphicon {
        font-size: 18px;
        color: @brand-success;
        position: relative;
        top: 8px;
      }
    }
  }

  .user-lg-img {
    margin-bottom: 15px;
  }
}
