<section class="user-details-section">

  <div ng-if="!user._id && !isLoading">
    <h1 class="text-center">
      <span class="orange-color glyphicon glyphicon-exclamation-sign"></span>
      {{ 'USERDETAILS.USER_NOT_FOUND' | translate }}
    </h1>
  </div>

  <loading balls-count="5" ng-show="isLoading"></loading>

  <div ng-if="user._id">

    <div class="col-lg-3 col-md-3 col-sm-5 hidden-xs">
      <!-- <img alt="{{user.firstName}}" ng-src="{{user.image}}" title="{{user.firstName}}" width="225" height="225"> -->
      <img class="user-lg-img center-block" alt="{{user.firstName}}" ng-src="imgs/user_pic-225x225.png" title="{{user.firstName}}" width="225" height="225">

      <div class="panel panel-info verifications">
        <div class="panel-heading">{{ 'USERDETAILS.VERIFICATIONS' | translate }}</div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li class="media">
              <span class="glyphicon glyphicon-check pull-left"></span>
              <div class="media-body">
                <strong>{{ 'USERDETAILS.EMAIL_ADDRESS' | translate }}</strong>
                <div class="text-muted">{{ 'USERDETAILS.VERIFIED' | translate }}</div>
              </div>
            </li>
            <li class="media">
              <span class="glyphicon glyphicon-check pull-left"></span>
              <div class="media-body">
                <strong>{{ 'USERDETAILS.PHONE_NUMBER' | translate }}</strong>
                <div class="text-muted">{{user.phone | hidePhone}}</div>
              </div>
            </li>
            <li class="media">
              <span class="glyphicon glyphicon-check pull-left"></span>
              <div class="media-body">
                <strong>{{ 'USERDETAILS.ONLY_COMMENTS' | translate }}</strong>
                <div class="text-muted">{{user.comments.length}} {{ 'USERDETAILS.ONLY_COMMENTS' | translate }}</div>
              </div>
            </li>
          </ul>

        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">{{ 'USERDETAILS.ABOUT_ME' | translate }}</div>
        <div class="panel-body">
          <dl>
            <dt>{{ 'NAME' | translate }}</dt>
            <dd>{{user.firstName}} {{user.lastName}}</dd>
          </dl>
          <dl>
            <dt>{{ 'USERDETAILS.DESCRIPTION' | translate }}</dt>
            <dd>{{user.description}}</dd>
          </dl>
        </div>
      </div>

    </div> <!-- col-lg-3 col-md-3 -->


    <div class="col-lg-9 col-md-9 col-sm-7">
      <div class="row">
        <div class="col-sm-4 visible-xs text-center">
          <div class="media-photo media-photo-block media-round">
            <img alt="{{user.firstName}}" class="img-responsive" height="225" src="imgs/user_pic-225x225.png" title="{{user.firstName}}" width="225">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="h1" ng-class="{ 'text-danger': !user.active }">{{ 'USERDETAILS.PROFILE' | translate:username }}</div>
          <div class="h5 text-muted"
            ng-class="{ 'col-lg-8 col-md-8 col-sm-8 col-xs-12': !user.active }">
              {{ 'USERDETAILS.MEMBER_SINCE' | translate }} {{user.created | date: 'longDate'}}
          </div>
          <div ng-show="!user.active"
            class="alert alert-danger col-lg-4 col-md-4 col-sm-4 col-xs-12" role="alert">
              <span class="glyphicon glyphicon-ban-circle"></span>
              <strong>{{ 'USERDETAILS.USER_DEACTIVATED' | translate }} !</strong>
          </div>
            <!-- <a href="/s/Brasil-" class="link-reset">Brasil</a>· -->
          <!-- <div class="edit-profile-container "></div> -->
        </div>
      </div> <!-- row -->

      <div class="flag-controls pull-right">
        <button class="btn btn-link report-user" ng-click="reportUser()" ng-show="!userReported">
          {{ 'USERDETAILS.REPORT_THIS_USER' | translate:username }}
          <span class="glyphicon glyphicon-warning-sign text-danger pull-left"></span>
        </button>
        <div class="already-flagged text-muted" ng-show="userReported">
          {{ 'USERDETAILS.YOU_REPORTED_USER' | translate:username }}.
          <button class="btn btn-link" class="undo-flag text-muted" ng-click="undoReportUser()">{{ 'USERDETAILS.UNDO' | translate }}?</button>
        </div>
      </div>

      <div class="short-description">
        <p>{{user.description}}</p>
      </div>

      <div class="listings clearfix">
        <h2>{{ 'USERDETAILS.PRODUCTS' | translate }} <span class="badge">{{totalProducts}}</span></h2>

        <ul class="products-container list-unstyled clearfix">
          <li class="product col-sm-6 col-md-4" ng-repeat="(key, product) in ownProducts">
            <a ui-sref="main.products.info({productId: product._id})" class="thumbnail">
              <img alt="{{product.title}}" ng-src="{{getProdThumbnail(product)}}" title="{{product.title}}" alt="{{product.title}}">

              <div class="caption text-center">
                <div class="text-overflow text-muted" title="{{product.title}}">{{product.title}}</div>
                <!-- <div class="text-normal">Rua Constante Ramos, Rio de Janeiro</div> -->
              </div>
            </a>
          </li>
        </ul>

        <button class="btn btn-link col-md-12 col-sm-12 col-lg-12"
          ng-click="showMoreProducts()"
          ng-hide="ownProducts.length === totalProducts">
          <strong>{{ 'MORE' | translate }}&nbsp;»</strong>
        </button>
      </div>

      <hr> <!-- separator -->

      <div class="social-connections">
        <div class="reviews">
          <h2>{{ 'USERDETAILS.COMMENTS' | translate:username }} <span class="badge">{{user.comments.length || 0}}</span></h2>
          <!-- <h4 class="">Reviews From Guests</h4> -->
          <div ng-show="user.comments.length">
            <pagination
              ng-model="commentsData.page"
              items-per-page="commentsData.pageSize"
              total-items="commentsData.totalComments"
              max-size="10"
              previous-text="⇦"
              next-text="⇨">
            </pagination>
          </div>

          <div ng-show="user.comments.length" class="comment clearfix"
            ng-repeat="(key, comment) in commentsData.comments track by $index"
            ng-init="expanded = false;">
              <comment
                comment="comment"
                separator="key !== commentsData.comments.length-1"
                class="animated fadeIn">
                  <div class="pull-right">
                    <strong>{{ 'USERDETAILS.COMMENT_ON_PRODUCT' | translate }}: </strong>
                    <a class="btn btn-link" ui-sref="main.products.info({productId: comment.product})">{{ 'USERDETAILS.LINK' | translate }}</a>
                  </div>
              </comment>
          </div>

        </div>
      </div>

    </div> <!-- col-lg-9 col-md-8 col-sm-12 -->

  </div> <!-- ng-if="user" -->

</section>
