<section class="newelement">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label">Title</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          placeholder="Title"
          ng-model="newElement.title">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Content</label>
      <div class="col-sm-9">
        <textarea
          class="form-control"
          placeholder="Content"
          ng-model="newElement.content">
        </textarea>
      </div>
    </div>

    <!-- <div class="form-group">
      <label class="col-sm-2 control-label">DNI</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          placeholder="DNI"
          ng-model="newElement.attr3">
      </div>
    </div> -->

    <div class="form-group">
      <label class="col-sm-2 control-label">Date</label>
      <div class="col-sm-9 centered">
        <!-- <input
          type="text"
          class="form-control"
          placeholder="Birthday"
          ng-model="newElement.attr4">
 -->
        <datepicker
          ng-model="newElement.date"
          max-date="today"
          show-weeks="true"
          class="datepicker">
        </datepicker>
      </div>
    </div>

  </form>

  <div
    class="alert alert-success"
    role="alert"
    ng-show="successfulyCreated">
    <strong>Well done!</strong> The element has been created!
  </div>

  <div
    class="alert alert-danger"
    role="alert"
    ng-show="unsuccessfulyCreated">
    <strong>Hhoh!</strong> Got an error! check the fields and try it again...
  </div>

  <div class="well">
    <button class="create btn btn-primary btn-block" ng-click="addElement()">Add Element</button>
    <button
      class="cancel btn btn-default btn-block"
      go-back-btn
      btntxt="Cancel and Go Back"></button>
  </div>

</section>
