<section class="home-section" ng-cloak>
<!--
  <div ng-include="'home/filter/filter.html'"></div>

  <pagination
    ng-model="page"
    items-per-page="pageSize"
    total-items="totalElements"
    ng-change="fetchPage()"
    max-size="10"
    previous-text="Prev"
    next-text="Next"
  ></pagination>

  <ul ng-show="elements.length" class="list-unstyled list-group">
    <li
      ng-repeat="element in elements | filter:searchTxt"
      class="list-group-item slide-animation"
      collapse="false"
      ng-animate-children>
      <address class="element">
        <strong class="element__title list-group-item-heading">{{element.title}}</strong>
        <div class="element__content list-group-item-text">{{element.content}}</div>
        <div class="element__created-at list-group-item-text"><span>Created at </span>{{element.created | date:"fullDate"}}</div>
        <div class="element__date list-group-item-text"><span>Date: </span>{{element.date | date:"fullDate"}}</div>
        <div class="element__date list-group-item-text">{{element.user.firstName}} {{element.user.lastName}}</div>

        <div class="controllers">
          <button
            class="show-details btn btn-primary"
            go stateUrl="main.element" urlAttr="id" urlVal="{{element._id}}">
            <span class="glyphicon glyphicon-eye-open"></span>
          </button>
          <button class="destroy btn btn-danger" ng-click="remove($index, $event)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </address>

      <div class="likes-container clearfix">
        <span
          class="pull-left alert alert-success alert-dismissible"
          ng-show="voted(element._id)">
          Tanks for voting!
          <button type="button" class="close" data-dismiss="alert">
        </span>
        <div
          class="votes panel panel-default"
          ng-hide="voted(element._id)">

          <div class="vote-label">Vote:</div>
          <button
            class="list-group-item-text btn btn-sm btn-info"
            title="Likes"
            ng-click="doLike($index, element._id)">
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </button>
          <button
            class="list-group-item-text btn btn-sm btn-danger"
            title="Don't Likes"
            ng-click="doDontLike($index, element._id)"
            ng-hide="voted(element._id)">
            <span class="glyphicon glyphicon-thumbs-down"></span>
          </button>
        </div>

      </div>

      <div class="voted clearfix panel panel-default">
        <div class="panel-body">
          <span class="pull-left badge">{{element.like}}</span>
          <span class="pull-left glyphicon glyphicon-thumbs-up label label-success"></span>
          <span class="pull-left badge">{{element.dontLike}}</span>
          <span class="pull-left glyphicon glyphicon-thumbs-down label label-warning"></span>
        </div>
      </div>
    </li>
  </ul>
-->


  <div class="panel panel-dark clearfix">
    <!-- <div class="page-container-responsive"> -->
    <div class="clearfix">
      <div class="logo text-center col-lg-3 col-md-3 col-sm-5 col-xs-5">
        <img src="imgs/logo.png" alt="{{appTitle}}" title="{{appTitle}}">
      </div>

      <div class="section-intro text-center col-lg-9 col-md-9 col-sm-7 col-xs-7">
        <h2 class="pull-left">Explore Categories</h2>
        <h2 class="pull-left">
          <div class="h5">
            <span class=" label label-default">See what people are looking</span>
          </div>
        </h2>
        <!-- <code>See what people are looking</code> -->
      </div>
    </div>

    <div class="categ-list clearfix">
      <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="categ col-md-12ZZ"
             ng-repeat="(key, categ) in categs"
             ng-class="{'col-lg-8 col-md-8 col-sm-8': categ.large, 'col-lg-4 col-md-4 col-sm-4': !categ.large }"
             ng-show="categ.displayOnHome" >
          <div class="categ-img"
               style="background-image: url('imgs/categs/{{categ.img}}');" >
            <a class="categ__link" ui-sref="main.products.list({ categ: categ._id, page: 1 })" >
              <div class="va-container categ__link__bkg">
                <div class="va-middle text-center">
                  <h2>{{categ.name}}</h2>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- </div> -->
  </div>

</section>
