<section class="signin">
  <div class="container">

    <div class="panel panel-default signin-container account-box">
      <!-- <div class="account-box"> -->
        <div class="logo col-md-4 col-lg-4">
          <img src="../imgs/logo.png" alt=""/>
        </div>

        <div class="col-md-8 col-lg-8">

          <div ng-show="invalidCredentials && showCredAlert">
            <alert type="danger" close="showCredAlert=false">Oh snap! Change a few things up and try submitting again.</alert>
          </div>
          <form
            role="form"
            class="form-signin"
            name="signinForm"
            ng-submit="signin(signinForm.$valid)">
            <div class="form-group" ng-class="{'has-error': (signinForm.email.$error.required || signinForm.email.$error.email) && displayError}">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                required autofocus
                email-format
                name="email"
                ng-model="credentials.email" />
            </div>
            <div class="form-group" ng-class="{'has-error': signinForm.password.$error.required && displayError}">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                required
                name="password"
                ng-model="credentials.password" />
            </div>
            <label class="checkbox">
              <input
                type="checkbox"
                value="remember-me"
                ng-model="keepMeSigned" />
              Keep me signed in
            </label>

            <button class="btn btn-lg btn-block btn-purple">Sign In</button>
          </form>

          <div class="forgot-link">
            <a ui-sref="main.forgetPassword">I can't access my account</a>
          </div>

          <div class="or-box">
            <span class="or">OR</span>
            <div class="clearfix">
              <div class="col-md-6">
                <a ui-sref="#" class="btn btn-facebook btn-block">Facebook</a>
              </div>
              <div class="col-md-6">
                <a ui-sref="#" class="btn btn-google btn-block">Google</a>
              </div>
            </div>
          </div>

          <div class="or-box">
            <!-- <div class="row"> -->
              <div class="col-md-12">
                <a ui-sref="main.signup" class="btn btn-info btn-block">Create New Account</a>
              </div>
            <!-- </div> -->
          </div>
        </div>

      <!-- </div> -->
    </div>

  </div>
</section>