<section class="sign">
  <div class="container">

    <div class="panel panel-default sign-container account-box">
      <!-- <div class="account-box"> -->
        <div class="logo col-md-4 col-lg-4">
          <img src="../imgs/logo.png" alt=""/>
        </div>

        <div class="col-md-8 col-lg-8">

          <div >
            <alert type="danger"
              ng-show="invalidCredentials && showCredAlert"
              close="showCredAlert=false">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <span>{{ 'SIGN.OH_SNAP' | translate }}!</span>
                <div>{{ 'SIGN.EMAIL_PASS_DONT_MATCH' | translate }}.</div>
                <!-- <div>Change a few things up and try submitting again.</div> -->
            </alert>
          </div>
          <form
            role="form"
            class="form-signin"
            name="signinForm"
            ng-submit="signin(signinForm.$valid)">
            <div class="form-group" ng-class="{'has-error': (signinForm.email.$error.required || signinForm.email.$error.email) && displayError}">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                required autofocus
                email-format
                name="email"
                ng-model="credentials.email" />
            </div>
            <div class="form-group" ng-class="{'has-error': signinForm.password.$error.required && displayError}">
              <input
                type="password"
                class="form-control"
                placeholder="{{ 'PASSWORD' | translate }}"
                required
                name="password"
                ng-model="credentials.password" />
            </div>
            <label class="checkbox">
              <input
                type="checkbox"
                value="remember-me"
                ng-model="keepMeSigned" />
              {{ 'SIGN.KEEP_ME_SIGNEDIN' | translate }}
            </label>

            <button class="btn btn-lg btn-block btn-purple">{{ 'SIGN.SIGN_IN' | translate }}</button>
          </form>

          <div class="forgot-link">
            <a ui-sref="main.password.forgot">{{ 'SIGN.I_CANT_ACCESS_ACCOUNT' | translate }}</a>
          </div>

          <div class="or-box">
            <span class="or">{{ 'SIGN.OR' | translate }}</span>
            <div class="clearfix">
              <div class="col-md-6">
                <a ui-sref="#" class="btn btn-facebook btn-block">Facebook</a>
              </div>
              <div class="col-md-6">
                <a ui-sref="#" class="btn btn-google btn-block">Google</a>
              </div>
            </div>
          </div>

          <div class="or-box">
            <!-- <div class="row"> -->
              <div class="col-md-12">
                <a ui-sref="main.signup" class="btn btn-info btn-block">{{ 'SIGN.CREATE_NEW_ACCOUNT' | translate }}</a>
              </div>
            <!-- </div> -->
          </div>
        </div>

      <!-- </div> -->
    </div>

  </div>
</section>