.sign {
  .sign-container {
    .clearfix();
    display: block;
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .logo {
      img {
        max-width: 100%;
      }
    }
  }

  .forgot-link {
    display: block;
    text-align: left;
    margin: 10px;
    cursor: pointer;
  }
  .checkbox {
    text-align: left;
    margin-left: 20px;
    cursor: pointer;
  }
}
