<section class="register">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <div class="account-box">
          <div class="logo">
            <img src="../img/logo.png" alt=""/>
          </div>

          <form class="form-signin">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="User Name"
                required autofocus
                ng-model="credentials.username" />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                required autofocus
                ng-model="credentials.name" />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Email"
                required autofocus
                ng-model="credentials.email" />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                required
                ng-model="credentials.password"
                ng-keyup="$event.keyCode == 13 && register()" />
            </div>

            <button
              class="btn btn-lg btn-block purple-bg"
              ng-click="register()">
                Sign Up
            </button>
          </form>

          <div class="or-box">
            <span class="or">OR</span>
            <div class="row">
              <div class="col-md-12 row-block">
                <a href="#/login" class="btn btn-block">Sign In</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>