<section class="account">

  <div class="col-md-3 menu">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Management</h3>
      </div>
      <div class="list-group">
        <a class="list-group-item"
          ui-sref="main.account.myitems"
          ng-class="{active: activeState === 'main.account.myitems' || activeState === 'main.account'}"
          ng-click="setState('main.account.myitems')">My items</a>
      </div>
      <div class="list-group">
        <a class="list-group-item"
          ui-sref="main.account.mywishlist"
          ng-class="{active: activeState === 'main.account.mywishlist'}"
          ng-click="setState('main.account.mywishlist')">Wish List</a>
      </div>
      <div class="list-group">
        <a class="list-group-item"
          ui-sref="main.account.profile"
          ng-class="{active: activeState === 'main.account.profile'}"
          ng-click="setState('main.account.profile')">My Profile</a>
      </div>
    </div>
  </div>

  <div class="col-md-9 panel panel-default main-panel">
    <div class="panel-body">
      <ui-view class="fadeInOut"/>
    </div>
  </div>
</section>
