<section class="product-info">
  <h1>Product Info</h1>
  <h3 class="product-info__title">{{product.title}}</h3>

<!--   <carousel ng-show="product.images.length" interval="300" class="image-slider center-block">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.url}}">
      <div class="carousel-caption">
        <h4>Slide {{$index}}</h4>
        <p>{{slide.caption}}</p>
      </div>
    </slide>
  </carousel>
 -->

  <div ng-if="slides.length">
    <!-- slide, zoom, hexagon, fadeAndSlide -->
    <ul rn-carousel class="image-slider center-block" rn-carousel-transition="fadeAndSlide" rn-carousel-controls rn-carousel-buffered="3" rn-carousel-index="slidesIndex">
      <li ng-repeat="slide in slides track by $index">
        <div class="layer">
          <div class="">
            <!-- <img ng-src="{{slide.url}}" draggable="false" class="img-no-drag"> -->
            <div class="img" style="background-image: url({{slide.url}});"></div>
            <h4 class="img-caption">{{slide.index}}</h4>
          </div>
        </div>
      </li>
    </ul>
    <div rn-carousel-indicators class="indicators" ng-if="slides.length > 1" slides="slides" rn-carousel-index="slidesIndex"></div>
  </div>

  <div class="product-info__description">{{product.description}}</div>

  <h4>Categories:</h4>
  <ul class="nav nav-pills">
    <li ng-repeat="categ in product.categories track by $index" role="presentation" class="active">
      <a ui-sref="main.products.list({categ: categ.name})">{{categ.name}}</a>
    </li>
  </ul>

  <h4>Catalogs:</h4>
  <ul class="nav nav-pills">
    <li ng-repeat="catalog in product.catalogs track by $index" role="presentation" class="active">
      <a href="">{{catalog.name}}</a>
    </li>
  </ul>

</section>
