<section class="product-info">
<!-- <h3 class="product-info__title">{{product.title}}</h3> -->

<!--   <carousel ng-show="product.images.length" interval="300" class="image-slider center-block">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.url}}">
      <div class="carousel-caption">
        <h4>Slide {{$index}}</h4>
        <p>{{slide.caption}}</p>
      </div>
    </slide>
  </carousel>
 -->

  <div ng-include="'products/product-info/fragments/heading.html'"></div>

  <div ng-if="slides.length" class="col-lg-8">
    <!-- slide, zoom, hexagon, fadeAndSlide -->
    <div class="image-slider-container panel">
<!--
      <ul rn-carousel class="image-slider center-block" rn-carousel-transition="fadeAndSlide" rn-carousel-controls rn-carousel-buffered="3" rn-carousel-index="slidesIndex">
        <li ng-repeat="slide in slides track by $index">
          <div class="layer">
            <div class="">
              <div class="img" style="background-image: url({{slide.url}});"></div>
              <h4 class="img-caption">{{slide.index}}</h4>
            </div>
          </div>
        </li>
      </ul>
 -->
      <!-- <div rn-carousel-indicators class="indicators" ng-if="slides.length > 1" slides="slides" rn-carousel-index="slidesIndex"></div> -->

      <slick class="slider-for"
        slides-to-show="1"
        slides-to-scroll="1"
        arrows="false"
        fade="true"
        as-nav-for=".slider-nav"
        >
          <div class="slick-img" ng-repeat="slide in slides track by $index">
            <img src="{{slide.url}}" alt="{{slide.index}}">
            <!-- <div class="img" style="background-image: url({{slide.url}});"></div> -->
            <h4 class="img-caption">{{slide.index}}</h4>
          </div>
  <!-- dots="true"
        infinite="false"
        speed="300"
        touch-move="false" -->
      </slick>

      <slick class="slider-nav"
        slides-to-show="4"
        slides-to-scroll="1"
        as-nav-for=".slider-for"
        dots="true"
        center-mode="false"
        focus-on-select="true"
        lazy-load="ondemand"
        center-padding="6px"
        responsive="[
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerMode: false,
              centerPadding: '40px',
              slidesToShow: 3
            }
          }
        ]"
        >
        <!--
         -->
          <!-- {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 3
            }
          } -->

          <div class="slick-img" ng-repeat="slide in slides track by $index">
            <img src="{{slide.url}}" alt="{{slide.index}}">
            <!-- <div class="img" style="background-image: url({{slide.url}});"></div> -->
            <!-- <h4 class="img-caption">{{slide.index}}</h4> -->
          </div>
      </slick>

    </div>
  </div>

  <div class="col-lg-4 pull-right product-contact">
    <!-- Categories: -->
    <div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'PRODUCTS.CATEGORIES' | translate }}</h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills">
            <li ng-repeat="categ in product.categories track by $index" role="presentation" class="">
              <a ui-sref="main.products.list({categ: categ})">{{categ}}</a>
            </li>
          </ul>
        </div>
      </div> <!-- Categories. -->
    </div>

    <!-- <div ng-include="'products/product-info/fragments/contact-segment.html'"></div> -->
    <contact product="product"></contact>
  </div>


  <!-- Details: -->
  <div class="col-lg-8">
    <div>
      <h3>{{ 'PRODUCTS.DETAILS' | translate }}</h3>
      <div class="product-info__description text-overflow panel panel-dark">
        <div class="panel-body">{{product.description}}</div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
        <div class="text-muted">{{ 'PRODUCTS.PRICES' | translate }}</div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <div>{{ 'PRODUCTS.PRICE' | translate }}:<strong>{{ product.price | currency:$:0 }}</strong></div>
            <div>{{ 'PRODUCTS.DEPOSIT' | translate }}:<strong>{{ product.deposit }}%</strong></div>
          </div>
          <div class="col-md-6">
            <div>
              {{ 'PRODUCTS.CANCELATION' | translate }}: <strong><a ui-sref="#/cancelation-policies">{{product.cancelation}}</a></strong>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
  </div> <!-- Details. -->

  <!-- Comments: -->
  <div ng-include="'products/product-info/fragments/comments.html'"></div>

  <!-- Rating: -->
  <div class="product-rating col-lg-8">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <hr>
        <div class="row">
          <div class="col-md-3">
            <h4 class="text-muted">{{ 'PRODUCTS.RATE' | translate }}:</h4>
          </div>
          <div class="rating col-md-9" ng-class="{ unrated: !userHasRated, rated: userHasRated }">
            <span ng-click="rate(5)"
              tooltip="5"
              ng-class="{rated: rateVal >= 5}">
              ☆
            </span>
            <span ng-click="rate(4)"
              tooltip="4"
              ng-class="{rated: rateVal >= 4}">
              ☆
            </span>
            <span ng-click="rate(3)"
              tooltip="3"
              ng-class="{rated: rateVal >= 3}">
              ☆
            </span>
            <span ng-click="rate(2)"
              tooltip="2"
              ng-class="{rated: rateVal >= 2}">
              ☆
            </span>
            <span ng-click="rate(1)"
              tooltip="1"
              ng-class="{rated: rateVal >= 1}">
              ☆
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
