<section class="product-info">
  <h2>Product Info</h2>
  <!-- <h3 class="product-info__title">{{product.title}}</h3> -->

<!--   <carousel ng-show="product.images.length" interval="300" class="image-slider center-block">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.url}}">
      <div class="carousel-caption">
        <h4>Slide {{$index}}</h4>
        <p>{{slide.caption}}</p>
      </div>
    </slide>
  </carousel>
 -->

  <div ng-include="'products/product-info/fragments/summary.html'"></div>

  <div ng-if="slides.length">
    <!-- slide, zoom, hexagon, fadeAndSlide -->
    <ul rn-carousel class="image-slider center-block" rn-carousel-transition="fadeAndSlide" rn-carousel-controls rn-carousel-buffered="3" rn-carousel-index="slidesIndex">
      <li ng-repeat="slide in slides track by $index">
        <div class="layer">
          <div class="">
            <!-- <img ng-src="{{slide.url}}" draggable="false" class="img-no-drag"> -->
            <div class="img" style="background-image: url({{slide.url}});"></div>
            <h4 class="img-caption">{{slide.index}}</h4>
          </div>
        </div>
      </li>
    </ul>
    <div rn-carousel-indicators class="indicators" ng-if="slides.length > 1" slides="slides" rn-carousel-index="slidesIndex"></div>
  </div>


  <!-- Details: -->
  <div class="col-lg-8">
    <div class="row-space-8 row-space-top-8">
      <h3 class="row-space-4 text-center-sm">Details</h3>
      <div class="product-info__description">{{product.description}}</div>
      <p class="text-center-sm">
        <div class="btn btn-link" ng-click="doContact();">Contact</div>
      </p>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
        <div class="text-muted">Prices</div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <div>Price:<strong>{{product.price}}</strong></div>
            <div>Deposit:<strong>{{product.deposit}}%</strong></div>
          </div>
          <div class="col-md-6">
            <div>
              Cancellation: <strong><a ui-sref="#/cancelation-policies">{{product.cancelation}}</a></strong>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
  </div> <!-- Details. -->


  <!-- Categories: -->
  <div class="col-lg-8">
    <div class="row-space-8 row-space-top-8">
      <h3>Categories</h3>
      <ul class="nav nav-pills">
        <li ng-repeat="categ in product.categories track by $index" role="presentation" class="active">
          <a ui-sref="main.products.list({categ: categ})">{{categ}}</a>
        </li>
      </ul> <!-- Categories. -->
    </div>
  </div>
  <!--
  <h4>Catalogs:</h4>
  <ul class="nav nav-pills">
    <li ng-repeat="catalog in product.catalogs track by $index" role="presentation" class="active">
      <a href="">{{catalog.name}}</a>
    </li>
  </ul>
  -->

  <div ng-include="'products/product-info/fragments/comments.html'" scope="this"></div>

</section>
