.product-info {
  @image-height: 400px;
  @image-width: 615px;

  .product__heading {
    .product-info__title {}

    .product-info__description {
      white-space: pre-line;
    }
    .add-to-wishlist {
      color: @green-color;
    }
    .remove-from-wishlist {
      color: @tomato-color;
      font-size: 13px;
    }
    .on-wishlist {
      color: @brand-info;
    }
  }

  .image-slider-container {
    // background-color: #FFF;
    padding: 20px;
  }

  .image-slider {
    width: @image-width;
    height: @image-height;
    cursor: pointer;
    border-radius: 4px;

    -webkit-box-shadow: 4px 4px 19px -3px @gray-light;
       -moz-box-shadow: 4px 4px 19px -3px @gray-light;
            box-shadow: 4px 4px 19px -3px @gray-light;

    .img {
      width: 100%;
      height: @image-height;

      background-repeat: no-repeat;
      background-size: 100% @image-height;

      -moz-user-select: none;
      -webkit-user-select: none;
      -webkit-user-drag: none; /* this will work for QtWebKit in future */
    }

    .img-caption {
      position: relative;
      bottom: 30px;
      text-align: center;
      color: #FFF;
      text-shadow: 2px 2px 1px rgb(88, 88, 88);
    }

    .rn-carousel-control {
      -webkit-transition: opacity 0.2s ease-out;
      transition: opacity 0.2s ease-out;
      position: absolute;
      opacity: 0.35;
      cursor: pointer;
      height: 100%;
      width: 15%;
      top: 0;

      &.rn-carousel-control-next {
        background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,.0001) 0),color-stop(rgba(0,0,0,.5) 100%));
        background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        right: 0;
        &:before {
          content: '';
        }
      }
      &.rn-carousel-control-prev {
        background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,.5) 0),color-stop(rgba(0,0,0,.0001) 100%));
        background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
        left: 0;
        &:before {
          content: '';
        }
      }

      &:hover {
        outline: 0;
        color: #FFF;
        text-decoration: none;
        opacity: .9;
        filter: alpha(opacity=90);
      }
    }
  } // .image-slider

  .indicators {
    text-align: center;
    z-index: 15;

    span {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin: 1px;
      border: 1px solid #fff;
      border-radius: 10px;
      cursor: pointer;
      background-color: #000 \9;
      background-color: @cornflowerblue-color;
      color: transparent;
      font-size: 0;

      &.active {
        margin: 0;
        width: 16px;
        height: 16px;
        background-color: @tomato-color;
      }
    }
  } // .indicators

  .review-content {
    .comments-count {
      position: relative;
      bottom: 6px;
    }
    .review-text {
      white-space: pre-line;
      max-height: 7em;
      overflow-y: hidden;

      p {
        .text-overflow();
      }

      &.expanded {
        max-height: none;
      }

    }
    .expandable-trigger {
      cursor: pointer;
    }
  }

  .user-link {
    cursor: pointer;
  }

  .comments-panel {
    padding: 15px;
  }

  .add-review {
    textarea {
      resize: vertical;
    }
    .review-foot {
      margin-top: 10px;
    }
  }

  .product-rating {
    text-align: left;
    font-size: 24px;

    .rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      display: inline-block;
    }
    .rating > span {
      display: inline-block;
      position: relative;
      width: 0.75em;
    }

    .never-rated {
      color: @gray-light;
    }

    .rated {
      span.rated:before {
        content: "\2605";
        position: absolute;
        color: @cornflowerblue-color;
      }
    }
    .unrated {
      > span:hover:before,
      > span:hover ~ span:before {
        content: "\2605";
        position: absolute;
        cursor: pointer;
        color: @tomato-color;
      }
    }
  }

  .product__price {
    background-color: @gray-dark;
    padding: 10px 20px;
    color: #FFF;
    .border-radius(4px);
    opacity: 0.8;
  }

  .product-contact {
    .btn-default[disabled] {
      background-color: @gray-lighter;
      color: @gray-light;
    }
  }
}
