<section class="product-edit">

  <div class="panel panel-default">
    <div ng-if="!productSaved" class="panel-body">

      <div class="field-set center-block pull-none">

        <div class="field-set__item field-set__item--category"> <!-- clearfix -->
          <div class="field-set__item__heading"
              ng-class="{ 'bg-danger': error.category }"
            > <!-- col-md-2 col-lg-2 col-sm-12 col-xs-12 -->
            <span>{{ 'CATEGORY' | translate }}</span>
            <h5 class="alert alert-danger"
              role="alert"
              ng-show="error.category">
                <span class="glyphicon glyphicon-alert"></span>
                {{ 'PRODUCTS.PLEASE_SELECT_CATEGORY' | translate }}!
            </h5>
          </div>

          <div class="field-set__item__content"> <!-- col-md-9 col-lg-9 col-sm-12 col-xs-12 -->
            <categ-selector
              categ-tree="categories[0]"
              on-done-cbk="onCategSelected"
              on-undone-cbk="onCategUnselected"
              api="categApi">
            </categ-selector>
          </div>
        </div> <!-- field-set__item -->

        <div class="field-set__item text-center">
          <div class="selected-categ" ng-show="selectedCateg">{{selectedCateg.name}}</div>
          <span ng-show="isCategSelected"
            class="glyphicon glyphicon-ok-sign categ-selected-icon">
          </span>
        </div>

        <div class="field-set__item field-set__item--title"
            ng-class="{ 'has-error': error.title }">
          <div class="field-set__item__heading">
            <span>{{ 'PRODUCTS.TITLE' | translate }}</span>
          </div>

          <div class="field-set__item__content">
            <input type="text"
              class="form-control"
              ng-model="product.title"
              tooltip="{{ 'PRODUCTS.REQUIRED_TITLE' | translate }}"
              tooltip-placement="top"
              tooltip-trigger="mouseenter"
              tooltip-enable="error.title && (!product.title || !(product.title.length >= 5 && product.title.length <= 55))"
              placeholder="{{ 'PRODUCTS.PRODUCT_TITLE' | translate }}">
          </div>
        </div> <!-- field-set__item -->

        <div class="field-set__item field-set__item--price"
          ng-class="{ 'has-error': error.price }">
          <div class="field-set__item__heading">
            <span>{{ 'PRODUCTS.PRICE' | translate }}</span>
          </div>

          <div class="field-set__item__content input-group">
            <div class="input-group-addon">$</div>
            <input type="number"
              class="form-control"
              ng-model="product.price"
              tooltip="{{ 'PRODUCTS.REQUIRED_PRICE' | translate }}"
              tooltip-placement="top"
              tooltip-trigger="mouseenter"
              tooltip-enable="error.price">
          </div>
        </div> <!-- field-set__item -->

        <div class="field-set__item field-set__item--description"
          ng-class="{ 'has-error': error.description }">
          <div class="field-set__item__heading">
            <span>{{ 'PRODUCTS.DESCRIPTION' | translate }}</span>
          </div>

          <div class="field-set__item__content">
            <textarea
              ng-model="product.description"
              class="form-control"
              placeholder="{{ 'PRODUCTS.PRODUCT_DESCRIPTION' | translate }}"
              rows="5"
              tooltip="{{ 'PRODUCTS.REQUIRED_DESCRIPTION' | translate }}"
              tooltip-placement="top"
              tooltip-trigger="mouseenter"
              tooltip-enable="error.description">
            </textarea>
          </div>
        </div> <!-- field-set__item -->

        <div class="field-set__item field-set__item--images panel panel-info">
          <div class="field-set__item__heading">
            <span>{{ 'PRODUCTS.IMAGES' | translate }}</span>
            <a href class="btn btn-link btn-sm" ng-click="areImgsCollapsed = !areImgsCollapsed">
              <span ng-show="areImgsCollapsed" class="glyphicon glyphicon-plus-sign"></span>
              <span ng-show="!areImgsCollapsed" class="glyphicon glyphicon-minus-sign"></span>
            </a>
          </div>

          <div class="field-set__item__content">
            <div collapse="areImgsCollapsed">
              <file-upload
                limit="10"
                files="product.images"
                api="uploader.api"
                listeners="uploader.listeners">
              </file-upload>
            </div>
          </div>
        </div> <!-- field-set__item -->

        <button ng-show="!inProgress" ng-click="save()" class="btn btn-lg btn-block btn-purple">{{ 'PUBLISH' | translate }}</button>
        <button ng-show="inProgress" class="btn btn-lg btn-block btn-purple btn-loader" disabled="disabled">
          <span class="loader"></span>
          {{ 'PRODUCTS.WAITING_TO_CREATE' | translate }}
        </button>

      </div> <!-- field-set -->
    </div> <!-- panel-body -->


    <div ng-if="productSaved" class="panel-body">
      <div class="jumbotron clearfix">
        <h1>{{ 'PRODUCTS.DONE' | translate }}!</h1>
        <p class="">{{ 'PRODUCTS.PRODUCT_SAVED' | translate }}</p>
        <p>
          <div class="clearfix product-success col-lg-8 col-md-8 col-sm-10 col-xs-12">
            <a class="clearfix"
              ui-sref="main.products.info({productId: productSaved._id})">

              <img class="thumbnail product__image col-lg-2 col-md-2 col-sm-3 col-xs-4" ng-src="{{getProdThumbnail(productSaved)}}" alt="{{productSaved.title}}">

              <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
                <h4 class="text-overflow" title="{{productSaved.title}}">{{productSaved.title}}</h4>
              </div>
            </a>
          </div>

          <a class="btn btn-info btn-lg pull-right"
            ui-sref="main.products" role="button">
            {{ 'PRODUCTS.CONTINUE' | translate }}
          </a>
        </p>
      </div>
    </div>
  </div>

</section>
