<section class="myadmin">
  <h3 class="title">My Admin</h3>

  <div class="col-md-3 menu">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Management</h3>
      </div>
      <div class="list-group">
        <a class="list-group-item"
          ui-sref="main.myadmin.categorymanag"
          ng-class="{active: activeState === 'main.myadmin.categorymanag' || activeState === 'main.myadmin'}"
          ng-click="setState('main.myadmin.categorymanag')">Categories</a>
        <a class="list-group-item"
          ui-sref="main.myadmin.userlist"
          ng-class="{active: activeState === 'main.myadmin.userlist'}"
          ng-click="setState('main.myadmin.userlist')">Users</a>
        <a class="list-group-item"
          ui-sref="main.myadmin.myitems"
          ng-class="{active: activeState === 'main.myadmin.myitems'}"
          ng-click="setState('main.myadmin.myitems')">My Items</a>
        <a class="list-group-item"
          ui-sref="main.myadmin.allitems"
          ng-class="{active: activeState === 'main.myadmin.allitems'}"
          ng-click="setState('main.myadmin.allitems')">All Items</a>
      </div>
    </div>
  </div>

  <div class="col-md-9 panel panel-default">
    <div class="panel-body">
      <ui-view />
    </div>
  </div>
</section>
