<section class="myadmin">

  <div class="col-md-3 menu">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'MYADMIN.MANAGEMENT' | translate }}</h3>
      </div>
      <div class="list-group">
        <a class="list-group-item"
          ui-sref="main.myadmin.categorymanag"
          ng-class="{active: activeState === 'main.myadmin.categorymanag' || activeState === 'main.myadmin'}"
          ng-click="setState('main.myadmin.categorymanag')">{{ 'MYADMIN.CATEGORIES' | translate }}
        </a>
        <a class="list-group-item"
          ui-sref="main.myadmin.userlist"
          ng-class="{active: activeState === 'main.myadmin.userlist'}"
          ng-click="setState('main.myadmin.userlist')">{{ 'MYADMIN.USERS' | translate }}
        </a>
        <a class="list-group-item"
          ui-sref="main.myadmin.myitems"
          ng-class="{active: activeState === 'main.myadmin.myitems'}"
          ng-click="setState('main.myadmin.myitems')">{{ 'ACCOUNT.MY_ITEMS' | translate }}
        </a>
        <a class="list-group-item"
          ui-sref="main.myadmin.allitems"
          ng-class="{active: activeState === 'main.myadmin.allitems'}"
          ng-click="setState('main.myadmin.allitems')">{{ 'MYADMIN.ALL_ITEMS' | translate }}
        </a>
        <a class="list-group-item"
          ui-sref="main.myadmin.mywishlist"
          ng-class="{active: activeState === 'main.myadmin.mywishlist'}"
          ng-click="setState('main.myadmin.mywishlist')">{{ 'WISH_LIST' | translate }}
        </a>
        <a class="list-group-item"
          ui-sref="main.myadmin.profile"
          ng-class="{active: activeState === 'main.myadmin.profile'}"
          ng-click="setState('main.myadmin.profile')">{{ 'ACCOUNT.MY_PROFILE' | translate }}
        </a>
        <a class="list-group-item"
          ui-sref="main.myadmin.settings"
          ng-class="{active: activeState === 'main.myadmin.settings'}"
          ng-click="setState('main.myadmin.settings')">{{ 'ACCOUNT.SETTINGS' | translate }}
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-9 panel panel-default">
    <div class="panel-body">
      <ui-view />
    </div>
  </div>
</section>
