header .page-header {
  @item-width: 55px;
  @pos-top: 10px;
  @pos-left: 50px;

  padding-top: 40px;
  margin: 0 0 20px;
  background-color: #FFFFFF;
  border-bottom: 1px solid @gray-darker;
  box-shadow: 0px 4px 10px 0px @light-font-color;

  .clearfix();

  h1 {
    text-align: center;
  }

  .options-menu {
    left: @pos-left;
    top: @pos-top;
    position: relative;
    background-color: transparent;
    z-index: 999;

    button {
      cursor: pointer;
      outline: none;
      &:active {
        outline: none;
      }
    }

    .menu-item {
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);

      button.btn {
        width: @item-width;
        height: @item-width;
        display: block;
        position: relative;
        background-color: @blue-dark;
        .opacity(0.7);

        // background-image: none;
        // background-position: center center;
        // background-size: @item-width @item-width;
        // background-repeat: no-repeat;
        font-size: 18px;

        // box-shadow: 0 1px 0 0 #777;
        border: none;
        .border-radius(50%);

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        -ms-touch-action: none;

        -webkit-transition-property: -webkit-transform;
                transition-property: transform;
        -webkit-transition-duration: 166ms;
                transition-duration: 166ms;
        -webkit-transition-delay: 48ms;
                transition-delay: 48ms;

        &:hover {
          .opacity(1);
          .scale(1.15);
          & + .menu-item__name {
            // color: darken(@orange-color, 25%);
            color: darken(@cornflowerblue-color, 25%);
            .text-shadow(0 0 2px #FFFFFF);
            font-weight: 600;
          }
        }

        span {
          margin-top: 3px;
        }
      }

      .menu-item__name {
        width: 150%;
        margin: 0 -25%;
        padding: .18em 0 0;
        position: absolute;
        display: block;
        font-size: 100%;
        line-height: 1;
        text-align: center;
        .opacity(1);
        .text-shadow(0 0 2px #000000);
        color: #FFFFFF;
      }

      &.menu-main {
        z-index: 1200;
        button.btn { .opacity(1); }
      }
      // &.menu-home button.btn {}
      // &.menu-new button.btn {}
      // &.menu-products button.btn {}
      // &.menu-myadmin button.btn {}
      // &.menu-account button.btn {}
    }

    ul.menu-list {
      position: relative;
      right: @pos-left;
      // left: 0;
      bottom: @pos-top;
      padding: 0;
      margin: 0;
      list-style: none;
      .transition(.6s);

      li.menu-list-item {
        position: relative;
        padding: 0;
        margin: 0;
        .transition(.6s);

        &.active button.btn {
          background-color: @orange-color;
          color: #FFFFFF;
        }
      }
    }

    &.is-open {
      ul.menu-list li.menu-list-item {
        &:nth-child(1) {
          .transform(rotate(170deg) translateX(-115px) rotate(-170deg));
        }
        &:nth-child(2) {
          .transform(rotate(210deg) translateX(-115px) rotate(-210deg));
        }
        &:nth-child(3) {
          .transform(rotate(250deg) translateX(-115px) rotate(-250deg));
        }
        &:nth-child(4) {
          .transform(rotate(290deg) translateX(-115px) rotate(-290deg));
        }
        &:nth-child(5) {
          .transform(rotate(330deg) translateX(-115px) rotate(-330deg));
        }
        &:nth-child(6) {
          .transform(rotate(370deg) translateX(-115px) rotate(-370deg));
        }
      }

      button.btn::after {
        // display: block;
        // position: absolute;
        // content: "";
        // left: @pos-left;
        // top: @pos-top;
        // width: @item-width;
        // height: @item-width;
        // .transform(translate(-50%, -50%));
      }
    }

    &.is-closed ul.menu-list {
      .opacity(1);
      visibility: hidden !important;

      .menu-item__name { display: none; }
    }

  }
}
