<header ng-controller="HeaderCtrl">
  <div class="page-header">
    <h1>{{title}}</h1>

    <div class="pull-right">
      <span ng-if="!currentUser.firstName">
        <a ui-sref="signin" class="btn btn-sm btn-default">SignIn</a>
        <a ui-sref="signup" class="btn btn-sm btn-default">SignUp</a>
        <span>REGISTRATE!</span>
      </span>
      <span ng-show="currentUser.firstName">Welcome, {{currentUser.firstName}} {{currentUser.lastName}}</span>
      <span ng-show="currentUser.roles.indexOf(userRoles.admin) >= 0">You're admin.</span>
      <span ng-show="currentUser.roles.indexOf(userRoles.editor) >= 0">You're editor.</span>
      <span ng-show="currentUser.roles.indexOf(userRoles.user) >= 0">You're user.</span>
      <button ng-show="currentUser.firstName" class="btn btn-warning" ng-click="signout()">SignOut</button>
    </div>

    <div class="text-center">
      <button
        type="button"
        class="btn btn-primary"
        ng-show="showLink('/home')"
        go stateUrl="home">
          Home
      </button>
      <button
        type="button"
        class="btn btn-success"
        ng-show="showLink('/newelement')"
        go stateUrl="newelement">
          Add New Element
      </button>
      <button
        type="button"
        class="btn btn-default"
        ng-show="showLink('/about')"
        go stateUrl="about">
          About
      </button>
      <button
        type="button"
        class="btn btn-warning"
        ng-show="showLink('/userlist')"
        go stateUrl="userlist">
          User List
      </button>
      <button
        type="button"
        class="btn btn-info"
        ng-show="showLink('/products')"
        go stateUrl="products">
          Products
      </button>
    </div>

  </div>
  <pre>{{subPageName()}}</pre>
</header>
