<header ng-controller="HeaderCtrl">
  <div class="page-header">
    <h1>{{title}}</h1>

    <div class="pull-right">
      <span ng-if="!currentUser">
        <a ui-sref="login"  class="btn btn-sm btn-default">Login</a>
        <a ui-sref="register" class="btn btn-sm btn-default">Register</a>
      </span>
      <span ng-if="currentUser">Welcome, {{currentUser.firstName}} {{currentUser.lastName}}</span>
      <span ng-switch="currentUser.role">
        <span ng-switch-when="userRoles.admin">You're admin.</span>
        <span ng-switch-when="userRoles.editor">You're editor.</span>
        <span ng-switch-default>You're our Guest!.</span>
      </span>
    </div>

    <div class="text-center">
      <button
        type="button"
        class="btn btn-primary"
        ng-show="showHomeLink()"
        go stateUrl="home">
          Home
      </button>
      <button
        type="button"
        class="btn btn-success"
        ng-show="showNewElementLink()"
        go stateUrl="newelement">
          Add New Element
      </button>
      <button
        type="button"
        class="btn btn-default"
        ng-show="showAboutLink()"
        go stateUrl="about">
          About
      </button>
    </div>

  </div>
  <pre>{{subPageName()}}</pre>
</header>
