<div class="tree-node" ng-class="{active: node._id === currentCateg._id}">
  <a ng-if="node.children && node.children.length > 0" class="btn btn-success btn-xs pull-right" ng-click="toggle(this)">
    <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
  </a>

  <div class="tree-node-content"
    ng-click="(node._id !== currentCateg._id) ? fetchPage(node) : ''">
    <div class="tree-node-content__name">{{node.name}}</div>
  </div>
</div>

<ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
  <li ng-repeat="node in node.children" ui-tree-node ng-include="'products/products-list/partials/category.html'">
  </li>
</ol>
