.signout {
  margin: 0 10%;

  .scene {
    // position: relative;
    height: 100%;
    background: #1d1f20;
    padding: 10rem 6rem 4rem 6rem;
    text-align: center;
  }
  h1, .btn, h3 {
    position: relative;
    z-index: 10;
    // margin: 225px auto;
  }
  h1 {
    color: #FFFFFF;
  }
  .magic {
    position: absolute;
    z-index: 5;
    width: 20rem;
    height: 20rem;
    top: calc(50%-10rem);
    left: calc(50%-10rem);
    // background: url('http://i.imgur.com/IKkE57h.jpg') 50% 50% no-repeat fixed;
    // background: url('https://s-media-cache-ak0.pinimg.com/736x/02/67/9e/02679effa7cbc601740acbf08b6758db.jpg') 50% 50% no-repeat fixed;
    // background: url('https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e15/11356997_447046608808430_1521745296_n.jpg') 50% 50% no-repeat fixed;
    background: url('http://imagesus.homeaway.com/mda01/b402562f-f8df-402d-b147-41d9a7a7ea70.1.10') 50% 50% no-repeat fixed;
    background-size: cover;
    // background-size: contain;
    border-radius: 50%;
  }


  parallax {
    position: relative;
    #parallax_wrapper {
      position: relative;
      z-index: 0;
      transition: all 0.25s ease-in 0s;
    }
    #parallax_field {
      overflow: hidden;
      position: absolute;
      left: 0px;
      top: 0px;
      height: 400px;
      width: 100%;
    }

    #shell {
      display: block;
      position: relative;
      margin: 0 auto;
      // width: 318px;
      width: 100%;
      height: 400px;
      z-index: 1;
      overflow: hidden;
    }

    img {
      position: absolute;
      &.parallax_bg {
        // top: -20px;
        // left: -20px;
        width: 110%;
        height: 425px;
        z-index: 1;
      }
      &.plax-logo {
        // left: 290px;
        // top: 70px;
        top: 20%;
        left: 63%;
        z-index: 3;
      }
      &.plax-sphere-1 {
        z-index: 4;
        // top: 180px;
        // left: 220px;
        top: 51%;
        left: 58%;
      }
      &.plax-sphere-2 {
        z-index: 2;
        // top: 140px;
        // left: 0px;
        top: 5%;
        left: 10%;
        z-index: 6;
      }
      &.plax-sphere-3 {
        top: 0;
        left: 25%;
        z-index: 1;
      }
    }
  }

}

