<section class="account-mywishlist">
  <pagination
    ng-model="page"
    items-per-page="pageSize"
    total-items="totalItems"
    max-size="10"
    previous-text="⇦"
    next-text="⇨">
  </pagination>

  <div class="list-group">
    <loading class="list-group-item" ng-show="isLoading" balls-count="4"></loading>
    <h4 class="empty-categ list-group-item" ng-show="!wishList.length && !isLoading">{{ 'EMPTY_LIST' | translate }}</h4>
    <product-item
      ng-repeat="wishItem in wishList"
      product="wishItem"
      class="list-group-item"
      remove="true"
      fetch-method="fetchPage"
      remove-method="removeFromWishList">
    </product-item>
  </div>
<!--       <div class="col-md-12">
        <a href=""
          popover="Remove" popover-trigger="mouseenter" popover-placement="top" Popover-animation="false"
          class="products__remove pull-right btn btn-link"
          ng-click="removeFromWishList(wishItem, $index)">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a ui-sref="main.products.info({productId: wishItem._id})"
          popover="View" popover-trigger="mouseenter" popover-placement="top" Popover-animation="true"
          class="products__details pull-right btn btn-link">
            <span class="glyphicon glyphicon-link"></span>
        </a>
      </div>
 -->
  <pagination
    ng-model="page"
    items-per-page="pageSize"
    total-items="totalItems"
    max-size="10"
    previous-text="⇦"
    next-text="⇨">
  </pagination>
</section>
